<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand">Cowin Slot</a></div>
        <ul class="navbar-nav">
            <li><a routerLink="/" class="nav-link">Home</a></li>
            <li><a routerLink="/pincodes" class="nav-link">Add Pincode</a></li>
            <li><a routerLink="/preferences" class="nav-link">Preferences</a></li>
            <!--<li><a routerLink="/logout" class="nav-link">Logout</a></li>-->
        </ul>
    </nav>
</header>